<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
      <br></br>
      <br></br>
        <h3 class="panel-title">Purchase: <%= @purchase.location %> / <%= @purchase.datetime.strftime ('%b %d, %Y at %l:%M%P') %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Amount</dt>
              <dd><%= @purchase.amount %></dd>

              <dt>Date and Time</dt>
              <dd><%= @purchase.datetime.strftime ('%b %d, %Y at %l:%M%P') %></dd>

              <dt>Location</dt>
              <dd><%= @purchase.location %></dd>

              <dt>User</dt>
              <dd><%= current_user.email %></dd>

              <dt>Account balance change</dt>
              <dd><%= @purchase.account_balance_change %></dd>

            </dl>

            <ul class="list-group">
              <li class="list-group-item list-group-item-success">
              Items In Purchase
             </li>

             <% @purchase.items.each do |mov| %>
             <li class="list-group-item"><%= mov.item %></li>
             <% end %>
             </ul>

            <div class="btn-group btn-group-justified">
              <a href="/purchases" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/purchases/<%= @purchase.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_purchase/<%= @purchase.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End responsive panel example -->
