<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
    <br></br>
    <br></br>
      <div class="panel-heading">
        <h3 class="panel-title">Item: <%= @item.item %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Purchase</dt>
              <dd><%= @item.purchase_id %></dd>

              <dt>Item</dt>
              <dd><%= @item.item %></dd>

              <dt>Location</dt>
              <dd><%= @item.purchase.location %></dd>

              <dt>Date & Time</dt>
              <dd><%= @item.purchase.datetime.strftime ('%b %d, %Y at %l:%M%P') %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/items" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
